<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>User Info</h2>
          <%=image_tag @user.get_profile_image(100,100) %>
      <table class="table">
        <tbody>
          <tr>
            <th>name</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= @user.introduction %></th>
          </tr>
        </tbody>
      </table>

  <div class="row">
    <% if @user == current_user %>
    <%= link_to 'user_edit', edit_user_path(@user.id), class:"btn btn-outline-secondary btn-block" %>
    <% end %>
    </div>
    <%= render 'books/newbook', book: @book %>
</div>

<div class="col-md-8 offset-md-1">
  <h2>Users</h2>
    <table class="table">
      <thead>
        <tr>
          <th>image</th>
          <th>name</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <% @users.each do |user| %>
          <td><%= image_tag user.get_profile_image(100,100) %></td>
          <td><%= user.name %></td>
          <% end %>
          <td><%= link_to "Show", user_path(@user.id) %></td>
       </tr>

     </tbody>
   </table>
</div>
  </div>
    </div>