<h2>User info</h2>
<table class="table">
  <tbody>
    <tr></tr>
    <tr>
      <th>name</th>
      <th><%= @user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= @user.introduction %></th>
    </tr>
  </tbody>
</table>

<%= link_to 'user_edit', edit_user_path(@user) %>

<h4>New Book</h4>

<%= form_with model: @book do |f| %>

<p>title</p>
 <%= f.text_field :title %>
 
<p>opinion</p>
 <%= f.text_area :body %>
 
<div><%= f.submit 'Create Book' %></div>
 
<% end %>

<h2>Users</h2>
<% @users.each do |user| %>
<%= link_to "Show", user_path(@user.id) %>
<% end %>